option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
    NodeVersion: "18.17.0"
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: "production"
    NPM_CONFIG_PRODUCTION: "false"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /public: public
  aws:elasticbeanstalk:healthcheck:
    HealthCheckSuccessThreshold: "3"
    HealthCheckInterval: "15"
    HealthCheckTimeout: "5"
    UnhealthyThreshold: "5"
    HealthyThreshold: "3"